@import "tailwindcss";

@theme {
  --color-blue: #3f8bee;
  --color-soft-slate: #e7ebf3;

  --color-light-blue: #1ea7ff;
  --color-light-gray: #f3f2f2;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f8fa;
}

button:not(:disabled) {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
